# The files indicated here are ignored by the git repository
# See here for instructions on how to read and use this file
# https://www.atlassian.com/git/tutorials/saving-changes/gitignore

#Ignore executables and other output files
*.exe
*.o
*.out
.directory
.6

#Ignore Mac OS files
*.DS_Store
